<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="__WCSS__/base.css">
    <link rel="stylesheet" type="text/less" href="__WCSS__/comment/mytask.less?21112">
    <script type="text/javascript" src="__WJS__/reset.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.2.2/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/less.js/3.0.4/less.min.js"></script>
    <script type="text/javascript" src="__WJS__/comment/bscroll.min.js"></script>
    <script type="text/javascript" src="__WJS__/comment/vue-resource.js"></script>
    <title>我的参与</title>
    <style>
    @font-face {
    font-family: 'iconfont';  /* project id 803693 */
        src: url('//at.alicdn.com/t/font_803693_8jy3diz6lf.eot');
        src: url('//at.alicdn.com/t/font_803693_8jy3diz6lf.eot?#iefix') format('embedded-opentype'),
        url('//at.alicdn.com/t/font_803693_8jy3diz6lf.woff') format('woff'),
        url('//at.alicdn.com/t/font_803693_8jy3diz6lf.ttf') format('truetype'),
        url('//at.alicdn.com/t/font_803693_8jy3diz6lf.svg#iconfont') format('svg');
    }
    .iconfont {
        font-family:"iconfont" !important;
        font-style:normal;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
</style>
</head>
<body>
    <div class="wrap"  id="app">
        <!-- 头部 -->
        <div class="header" ref="header">
            <i class="iconfont back" @click="handelToBack">&#xe682;</i>
                <p v-if="model==1">我的点子</p>
                <p v-else>我的问题</p>
        </div>
        <!-- 内容列表 -->
        <div class="main wrapper" ref="wrapper" :style="{ height: scrollHeight +'px'}">
            <ul class="list imgList" >
                <li class="item" v-for="item in questionList" @click="handelToQuestion(item.id)">
                    <!-- 是否结束 -->
                    <div class="getAnswer-wrap">
                        <p class="getAnswer" v-if="item.is_it_best == 1 || item.status == 1">已采纳</p>
                    </div>

                    <div class="item-con">
                        <p class="mesg">{{item.title}}</p>
                    </div>
                    <div class="botcon" v-if="item.pv"> 
                        <p class="item-agree">
                            <i class="iconfont" style="color:#FF5722">&#xe630;</i>
                             <span>{{item.pv}}</span>
                        </p>
                        <span class="time" v-if="item.start_time">{{item.start_time}}</span>
                    </div>
                    <div class="answerWrap" v-if="item.answer_time"> 
                            <span class="time answer_time" >{{item.answer_time}}</span>
                        </div>
                </li>
                <div v-if="!moreLoadData" class="nomoredata">没有更多数据了...</div>
            </ul>
        </div>
    </div>
    <script>
       var vm = new Vue({
            el: '#app',
            data: {
                questionList:[
                    
                ],
                page:0,
                /* 上拉是否有更多数据 */
                moreLoadData:true,
                /* 滚动高度 */
                scrollHeight:0,
                /* 加载锁 */
                lock:false,
                model:1,//1参与 2提问
            },
            mounted(){
                let model = this.getQueryString("model");
                this.model = model;
                this.scrollHeights();
                /* 初始化数据 */
                this.initData();
            },
            methods: {
                /* 初始化数据 */
                initData(){
                    this.$http.post('./userQA',{model:this.model,page:this.page},{emulateJSON : true}).then((response)=>{
                        console.log(response.data);
                        if(response.data.length>0){
                            this.page++;
                            this.questionList = response.data;
                        }
                        this.$nextTick(()=>{
                            /* 设置图片 */
                            this.getNaturalSize();
                            let conHeight = $(".list").height();
                            let scroll = $(".main").height();
                            if(scroll > conHeight){
                                this.loadData();
                            }
                        })
                    })
                    this.$nextTick(() => {
                        if (!this.scroll) {
                            this.scroll = new BScroll(this.$refs.wrapper, {
                                click:true,
                                // scrollY: true,
                                /* 上拉加载 */
                                pullUpLoad: {
                                    threshold: -40,
                                }
                            })
                           /* 上拉加载 */
                            this.scroll.on('pullingUp', (e) => {
                                this.loadData();
                                this.scroll.finishPullUp();
                            })
                        }
                    })
                },
                /* 上拉加载 */
                loadData() {
                    if(this.lock){
                        return 
                    }
                    this.lock = true;
                    this.$http.post('./userQA',{model:this.model,page:this.page},{emulateJSON : true}).then((response)=>{
                        console.log(response.data);
                        if(response.data.length>0){
                            this.moreLoadData = true;
                            this.page++;
                            this.questionList = this.questionList.concat(response.data);
                        }else{
                            this.moreLoadData = false;
                        }
                        this.lock = false;
                        this.getNaturalSize();
                    })
                    this.scroll.refresh();
                },
                /* 到详情页 */
                handelToQuestion(id){
                    location.href = "./question.html?id="+id;
                },
                /* 设置滚动内容高度函数 */
                scrollHeights(){
                    let _this = this;
                    setTimeout(function(){
                        let header = $(".header").height();
                        let con = $(window).height();
                        let l = con - header  -5;
                        _this.scrollHeight = l;
                    })
                   
                },
                /* 返回 */
                handelToBack(){
                    history.go(-1);
                },
                /* 获取参数 */
                getQueryString(name) {
                    var reg = new RegExp('(^|&)' + name + '=([^&]*)(&|$)', 'i');
                    var r = window.location.search.substr(1).match(reg);  //这里返回找到正则的匹配
                    if (r != null) {
                        return unescape(r[2]);    //这里返回对应的值

                    }
                    return null;
                },
                /* 获取图片宽高 */
                getNaturalSize() {
                    let s = $(".imgList img");
                    let length = $(".imgList img").length;
                    for(let i = 0;i < length;i++){
                        let src = s[i].src;
                        var img=new Image();
                        img.src = src;
                        var realWidth = img.width;
                        var realHeight = img.height;
                        if(realWidth > realHeight){
                            $(s[i]).addClass("imgWidth");
                            $(s[i]).parent('div').addClass("widthWrap"); 
                        }else{
                            $(s[i]).addClass("imgHeight");  
                            $(s[i]).parent('div').addClass("heightWrap");
                        }
                    }
                }
            }
        })
    </script>
</body>
</html>